.ye{
    color: rgb(30, 160, 236);
    font-family: fantasy;
    text-decoration: underline wavy rgb(123, 182, 255);
}

p {
    position: relative;
    text-decoration: underline overline
    
}

.destacado {
    color: red;
    text-decoration: none;
}

h1 span {
    color: aqua;
    text-decoration: none;
    font-size: 2.5rem;
}