@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-black: #2e2c2b;
    --main-gray: #c9c5c3;
    --main-whitea: #f0f0f0;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

  body {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-black);
  }