h1 {
    --b: 0.1em;   /* El grosor de la linea */
    --c: #ff0000; /* el color */
    
    color: #0000;
    padding: calc(.5*var(--b)) 0;
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  h1:hover {
    --_p: 100%;
    --_s: .3s;
  }
  
  
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
  }
  h1 {
    font-family: system-ui, sans-serif;
    font-size: 5rem;
    cursor: pointer;
  }